@{
    ViewBag.Title = "About";
}

<h1 class="h1">About us</h1>
<hr />
<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
-->

<p>Wikirials, this easy to browse website, is our tutorial sharing tool. Here you will have acess to the most unique and diverse tutorials created by you, inserted in a wide array of categories, so you can share with anyone or in specific chosen groups where you can get into by simply joining by yourself or if invited. Check now our top page which you can imediatly join as a @Html.ActionLink("Guest", "Index", "Home")!</p>
<p> For any questions check out our @Html.ActionLink("Contact", "Contact", "Home") page or send us an email through our footer.</p>

<img src="~/Images/Wikirials Brand.fw.png">