@{
    ViewBag.Title = "About";
}

<h1 class="h1">About us</h1>
<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
-->

<p>Wikirials, this easy to browse website, is our tutorial sharing tool. Here you will have acess to the most unique and diverse tutorials created by you, inserted in a wide array of categories, so you can share with anyone or in specific chosen groups. You will be able to join or be invited to specific groups which will have exclusive access to private tutorials and will be able to filter tutorials by category so you can find exactly what you are looking for. In the main page you have acess to the top liked and viewed tutorials and you can join immediately as a @Html.ActionLink("Guest", "Index", "Home")!</p>
<p> For any questions check out our @Html.ActionLink("Contact", "Contact", "Home") page.</p>