@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h2>Contacts</h2>
    <hr />
    <!--
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    -->

    <address>
        <div>
            <br />
            TPSI<br />
            ESTGA<br />
            Águeda<br />
        </div>
        <div>
            <img class="symbol" src="~/Images/symbol.fw.png">
        </div>
    </address>

    <address class="adress">
        <strong>Support:</strong>  Wikirials@example.com<br />
        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </address>
</div>