@{
    ViewBag.Title = "Home Page";
}


<div class="container">


    <h1>Top Likes</h1>
    <div class="well">
        <div class="row">
            <div class="col-md-3">
                <img src="http://placehold.it/260x180" alt="">
            </div>
            <div class="col-md-9">
                <h4>The mummy Halloween makeup tutorial</h4>
                <p>
                    Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                </p>
                <p><a class="btn btn-info btn-sm" href="tutorial.html">Read more</a></p>
                <br />
                <ul class="list-inline">
                    <li><i class="glyphicon glyphicon-user"></i> by <a href="#">John</a> | </li>
                    <li><i class="glyphicon glyphicon-calendar"></i> Sept 16th, 2012 | </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <img src="http://placehold.it/260x180" alt="">
            </div>
            <div class="col-md-9">
                <h4>Title of the post</h4>
                <p>
                    Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                </p>
                <p><a class="btn btn-info btn-sm" href="tutorial.html">Read more</a></p>
                <br />
                <ul class="list-inline">
                    <li><i class="glyphicon glyphicon-user"></i> by <a href="#">John</a> | </li>
                    <li><i class="glyphicon glyphicon-calendar"></i> Sept 16th, 2012 | </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <img src="http://placehold.it/260x180" alt="">
            </div>
            <div class="col-md-9">
                <h4>Title of the post</h4>
                <p>
                    Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                </p>
                <p><a class="btn btn-info btn-sm" href="#">Read more</a></p>
                <br />
                <ul class="list-inline">
                    <li><i class="glyphicon glyphicon-user"></i> by <a href="#">John</a> | </li>
                    <li><i class="glyphicon glyphicon-calendar"></i> Sept 16th, 2012 | </li>
                </ul>
            </div>
        </div>
    </div>

    <h1>Top Views</h1>
    <div class="well">
        <div class="row">
            <div class="col-md-3">
                <img src="http://placehold.it/260x180" alt="">
            </div>
            <div class="col-md-9">
                <h4>The mummy Halloween makeup tutorial</h4>
                <p>
                    Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                </p>
                <p><a class="btn btn-info btn-sm" href="tutorial.html">Read more</a></p>
                <br />
                <ul class="list-inline">
                    <li><i class="glyphicon glyphicon-user"></i> by <a href="#">John</a> | </li>
                    <li><i class="glyphicon glyphicon-calendar"></i> Sept 16th, 2012 | </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <img src="http://placehold.it/260x180" alt="">
            </div>
            <div class="col-md-9">
                <h4>Title of the post</h4>
                <p>
                    Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                </p>
                <p><a class="btn btn-info btn-sm" href="tutorial.html">Read more</a></p>
                <br />
                <ul class="list-inline">
                    <li><i class="glyphicon glyphicon-user"></i> by <a href="#">John</a> | </li>
                    <li><i class="glyphicon glyphicon-calendar"></i> Sept 16th, 2012 | </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <img src="http://placehold.it/260x180" alt="">
            </div>
            <div class="col-md-9">
                <h4>Title of the post</h4>
                <p>
                    Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                </p>
                <p><a class="btn btn-info btn-sm" href="#">Read more</a></p>
                <br />
                <ul class="list-inline">
                    <li><i class="glyphicon glyphicon-user"></i> by <a href="#">John</a> | </li>
                    <li><i class="glyphicon glyphicon-calendar"></i> Sept 16th, 2012 | </li>
                </ul>
            </div>
        </div>
    </div>
</div>